/* ***************************************
* Global Styles
*************************************** */
html {
	background-image : url('../img/background.png');
}

body {
	background-color: transparent;
    font-family: "Helvetica Neu", Helvetica, Arial, sans-serif;
}

.container {
	background : none 0% 0% repeat scroll #ffffff;
	box-shadow : 0 0.3em 1em #000000;
	color : #555555;
	font : 1.25em/1.5 Gill Sans;
	margin : 1em auto 10em;
	padding : 0 20px;
	position : relative;
}

/* If there are too many employees, the white background doesn't extend over the
 * whole page until the org tree is intact, so force a minumum height to guarantee
 * that the page looks right while it is loading */
#content.minheight {
    min-height:750px;
    height:auto !important;
    height:750px;
}

a:link,
a:visited,
a:hover {
	color : #555555;
	text-decoration : underline;
}

/* Fixing the abhorrent nested div / clear overhang
 * http://www.mikepadgett.com/technology/technical/alternative-to-the-pie-clearfix-hack/
 * Just add the class 'clearfix' to any div that has the problem
*/
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* ***************************************
* Section Styles
*************************************** */


#leftcol {
	float:left;
	margin : 0 0 0.5em 0;
	width:auto;
}

#rightcol {
	float:right;
	width:auto;
	margin : 0 10px 0.5em 0;
}

#search h3 {
	margin-top: 0.5em;
	margin-bottom: 0;
}

#footer {
	clear:both; /* move it to the bottom */

	margin : 10px -20px 0;
	padding : 0.4em 1em;

	background : none 0% 0% repeat scroll #eeeeee;
	border-top : 8px double #dddddd;
	border-left : 20px solid transparent;
	border-right : 20px solid transparent;

	font : 0.6em Verdana;
}

#footer p.update {
	float:left;
	margin : 0.5em 0;
	width:50%;
}

#footer p.attrib {
	float:right;
	width:50%;
	margin : 0.5em 0;
	text-align: right;
}
