/* ******************************************************
* Tree Style
* http://odyniec.net/articles/turning-lists-into-trees/
* 
* I have modified this because when using jquery to set
* the li.class to last there are extra vertical lines
* until the li.last class is applied. To fix this, I hide
* the tree images until the function returns by adding
* the treepix class after the li.class is added.
********************************************************* */

ul.tree, ul.tree ul {
	list-style-type : none;
	margin : 0;
	padding : 0;
}

ul.tree ul {
	margin-left : 10px;
}

ul.tree li {
	margin : 0;
	padding : 0 12px;
	line-height : 20px;
}

ul.tree a {
	text-decoration: none;
}
ul.tree a:hover {
	text-decoration: underline;	
}

ul.treepix, ul.treepix ul {
	background : url(../img/vline.png) repeat-y;
}

ul.treepix li {
	background : url(../img/node.png) no-repeat;
}

ul.treepix li.last {
	background : url(../img/lastnode.png) no-repeat #fff;
}

ul.treepix li.top, ul.top {
	background : none;
}
